<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="appUsuario.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="appUsuario.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <appUsuario.My.MySettings>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
            <setting name="remeber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lenguaje" serializeAs="String">
                <value>en</value>
            </setting>
        </appUsuario.My.MySettings>
    </userSettings>
    <applicationSettings>
        <appUsuario.My.MySettings>
            <setting name="cantSintomas" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="mailContacto" serializeAs="String">
                <value>antecionalcliente@vidasana.com</value>
            </setting>
        </appUsuario.My.MySettings>
    </applicationSettings>
</configuration>